body {
  font-family: sans-serif;
}

ul#quiz {
  list-style-type: none;
  padding: 0;
}

li.question {
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}

button#submit-button {
  margin-top: 10px;
}
